#sp-cookie-consent {
  position: fixed;
  font-size: 16px;
  font-weight: 500;
  bottom: 0;
  z-index: 10001;
  background-color: rgba(0,0,0,0.6);
  font-size: 14px;
}
#sp-cookie-consent * {
  box-sizing: border-box;
}
#sp-cookie-consent *::before {
  box-sizing: border-box;
}
#sp-cookie-consent *::after {
  box-sizing: border-box;
}
#sp-cookie-consent a {
  text-decoration: underline;
}
#sp-cookie-consent a:hover {
  text-decoration: underline;
}
#sp-cookie-consent >div {
  padding: 20px;
  position: relative;
}
#sp-cookie-consent .sp-cookie-allow {
  display: block;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 3px 15px;
  font-size: 90%;
  font-weight: bold;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
#sp-cookie-consent .sp-cookie-allow:hover {
  background-color: #efefef;
  text-decoration: none;
}
#sp-cookie-consent .sp-cookie-allow:focus {
  text-decoration: none;
}
#sp-cookie-consent .sp-cookie-allow:active {
  text-decoration: none;
}
#sp-cookie-consent .btn {
  padding: 3px 15px;
  font-size: 13px;
  text-decoration: none;
}
#sp-cookie-consent.position-bottom_left {
  width: 1000px;
  max-width: 50%;
  border-radius: 4px;
  bottom: 5px;
  left: 5px;
}
#sp-cookie-consent.position-bottom_left .sp-cookie-allow {
  margin-top: 15px;
}
#sp-cookie-consent.position-bottom_right {
  width: 1000px;
  max-width: 50%;
  border-radius: 4px;
  bottom: 5px;
  right: 5px;
}
#sp-cookie-consent.position-bottom_right .sp-cookie-allow {
  margin-top: 15px;
}
#sp-cookie-consent.position-bottom {
  left: 0;
  width: 100%;
  display: table;
}
#sp-cookie-consent.position-bottom >div {
  -ms-flex-align: center !important;
  align-items: center !important;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
#sp-cookie-consent.position-bottom >div >.sp-cookie-consent-action {
  margin-top: 15px;
}
@media (min-width: 992px) {
  #sp-cookie-consent.position-bottom >div >.sp-cookie-consent-content {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  #sp-cookie-consent.position-bottom >div >.sp-cookie-consent-action {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    margin-top: 0;
    text-align: right;
  }
}
